<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178733108341-0c3atlm8kcikp162lsh30vveibi93krh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178733108341-0c3atlm8kcikp162lsh30vveibi93krh</string>
	<key>API_KEY</key>
	<string>AIzaSyBjTui_9zVsDxCWV0aAslPUTTmIN-dAf-o</string>
	<key>GCM_SENDER_ID</key>
	<string>178733108341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.yagnyam.Proxy</string>
	<key>PROJECT_ID</key>
	<string>yagnyam-proxy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yagnyam-proxy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178733108341:ios:77a19adc3a9edd38</string>
	<key>DATABASE_URL</key>
	<string>https://yagnyam-proxy-app.firebaseio.com</string>
</dict>
</plist>